#profilePic {
    width: 15%;
    margin-top: -10%;
    position: sticky;
}

#editProfileBtn {
    width: 25%;
}

.bioData {
    margin-top: 2%;
}

.ProfileTabs {
    margin-left: 12%;
    margin-bottom: -3%;
}

/* Edit Bio */
#editBioModal {
    display: flex;
    flex-direction: column;
}

#floatingTextarea2, #floatingTextarea3, #floatingTextarea4, #floatingTextarea5 {
   min-height: 100px;
    max-height: 100px;
}